* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url(/img/ukraine2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Scrollbar design */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #05058d;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background: rgb(255, 204, 0);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(0, 94, 255);
  background-image: -webkit-linear-gradient(
    45deg,
    transparent 25%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    transparent 50%,
    transparent 75%,
    rgba(0, 0, 0, 0.5) 75%,
    transparent
  );
}

/* Header ^ */

header {
  height: 65px;
  width: 100%;
  position: sticky;
  top: 0;
  background-size: cover;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 185);
  background-image: url(/img/design2.png);
  border-bottom: 2px solid #fecb01;
  z-index: -1;
}

.inner-header {
  height: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.logo {
  height: 100%;
  width: 45%;
  display: flex;
}

.logo-img {
  margin-left: 20px;
  height: 100%;
  padding: 3px 0;
}

.logo-img img {
  height: 100%;
}

.logo-text {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo-text a {
  text-decoration: none;
  color: #fecb01;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: 0.3s color;
}

.header-menu {
  width: 55%;
  height: 100%;
  list-style: none;
  margin: 0px 20px 0px 30px;
}

nav {
  height: 100%;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #fecb01;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: 0.2s;
  font-size: 17px;
  position: relative;
}

.nav-links i {
  font-size: 18px;
  margin-right: 7px;
}

.nav-links a::before {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(1, 218, 196);
  transition: 0.2s;
  transform: scaleX(0);
}

.logo-text a:hover {
  color: turquoise;
}

.nav-links a:hover {
  color: turquoise;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.invisible1 {
  height: 10px;
  position: absolute;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  min-width: 200px;
  padding: 0 20px;
  margin-left: -55px;
  border-radius: 10px;
  border: 2px solid #fecb01;
  background: linear-gradient(270deg, rgb(6, 6, 85), #070791, rgb(68, 68, 179));
  box-shadow: 5px 5px 10px black;
}

.dropdown-content a {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.dropdown-content a:last-child {
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 940px) {
  body.lock {
    overflow: hidden;
  }

  header {
    height: 50px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .logo-text a {
    font-size: 25px;
  }

  .header-burger {
    margin-top: 15px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    /* right alignment */
    margin-left: auto;
    margin-right: 20px;
  }

  .header-burger span {
    position: absolute;
    background-color: #fecb01;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    position: absolute;
    background-color: #fecb01;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header-burger::after::before {
    top: 0;
  }
  .header-burger::before {
    bottom: 0;
  }

  .header-burger.active::before {
    transform: rotate(-45deg);
    top: 9px;
  }

  .header-burger.active::after {
    transform: rotate(45deg);
    bottom: 9px;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    padding: 100px 50px 50px 50px;
    margin-left: 0;
    background-color: rgba(7, 7, 185);
    background-image: url(/img/design2.png);
    background-position: center;
    background-size: cover;
    overflow: scroll;
    z-index: -2;
    transition: all 0.3s ease-in-out;
  }
  .header-menu::-webkit-scrollbar {
    display: none;
  }

  .nav-links {
    flex-direction: column;
  }

  .dropdown,
  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    display: block;
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
    font-size: 22px;
    transition: 0.3s ease-in-out;
  }

  .nav-links i {
    font-size: 28px;
    margin-right: 30px;
  }

  .nav-links a:hover {
    background-color: rgba(4, 175, 255, 0.192);
    box-shadow: 0px 0px 100px black;
  }

  .invisible,
  .nav-links a:hover::before,
  .dropdown:hover .dropdown-content {
    display: none;
  }

  .header-menu.active {
    top: 0;
  }
}
/* Content:   */

.container {
  min-height: 500px;
  padding-top: 40px;
  overflow: hidden;
}

/* Contacts */

.contacts {
  max-width: 1200px;
  margin: 50px auto;
  min-height: 450px;
  /* background-color: rgb(255, 255, 255, 0.8); */
}

.social_media_text {
  max-width: 100%;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 13px;
  margin-bottom: 50px;
  /* background-color: rgb(0, 94, 255); */
}

.social_media_text h1 {
  font-size: 68px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blanchedalmond;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: blanchedalmond 0 0 7px;
}

.contacts ul {
  /* background-color: black; */
  display: flex;
  width: 100%;
  min-height: 400px;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contacts ul li {
  list-style-type: none;
  /* margin-top: 30px; */
  margin: 30px 20px;
}

.contacts ul li a {
  /* background-color: rgb(180, 180, 180); */
  width: 200px;
  height: 200px;
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 10px 25px rgb(0, 0, 0, 1);
  background: linear-gradient(
    0deg,
    rgb(129, 129, 129),
    rgb(180, 180, 180),
    rgb(230, 230, 230)
  );
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.contacts ul li a:hover {
  box-shadow: 0 2px 5px rgb(0, 0, 0, 1);
}

.contacts ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 50%;
  font-size: 60px;
  line-height: calc(200px - 30px);
  background: linear-gradient(180deg, rgb(80, 80, 80), rgb(230, 230, 230));
}

.contacts ul li a:hover .fab {
  background: linear-gradient(180deg, rgb(165, 164, 164), rgb(230, 230, 230));
}

.contacts ul li:nth-child(1) a:hover {
  background: linear-gradient(0deg, rgb(163, 138, 147), rgb(230, 230, 230));
  text-shadow: aliceblue 1px 1px 0, aliceblue -1px -1px 0, aliceblue -1px 1px 0,
    aliceblue 1px -1px 0;
  color: #e1306c;
}

.contacts ul li:nth-child(2) a:hover {
  background: linear-gradient(0deg, #7081a7, rgb(230, 230, 230));
  text-shadow: aliceblue 1px 1px 0, aliceblue -1px -1px 0, aliceblue -1px 1px 0,
    aliceblue 1px -1px 0;
  color: #3b5998;
}

.contacts ul li:nth-child(3) a:hover {
  background: linear-gradient(0deg, #b69f9f, rgb(230, 230, 230));
  text-shadow: aliceblue 1px 1px 0, aliceblue -1px -1px 0, aliceblue -1px 1px 0,
    aliceblue 1px -1px 0;
  color: #ff0000;
}

.contacts ul li:nth-child(4) a:hover {
  background: linear-gradient(0deg, #7c9eaa, rgb(230, 230, 230));
  text-shadow: aliceblue 1px 1px 0, aliceblue -1px -1px 0, aliceblue -1px 1px 0,
    aliceblue 1px -1px 0;
  color: #00aced;
}

/* Footer */

footer {
  background-color: rgba(7, 7, 185, 0.7);
  height: 70px;
  background-image: url(/img/design2.png);
}
